@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap");
html {
  height: 100%;
  width: 100%; }

body,
html {
  color: #1b1b1b !important;
  font-family: 'Montserrat', sans-serif !important; }

.logo img {
  width: 45px;
  height: 45px;
  cursor: pointer; }

.m-auto {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold; }

.myButton {
  outline-offset: -6px;
  background: #f9f055 !important;
  border-radius: 40px !important;
  padding: 10px !important;
  cursor: pointer !important; }
  .myButton a {
    color: #1b1b1b !important;
    text-decoration: none;
    font-weight: bold; }

.myButton:hover {
  outline-offset: -6px;
  background: white !important;
  border: 2px #f9f055 solid;
  border-radius: 40px !important;
  padding: 10px !important;
  cursor: pointer !important; }
  .myButton:hover a {
    color: #1b1b1b !important;
    text-decoration: none;
    font-weight: bold; }

.panel {
  border: none;
  background-color: white;
  border-radius: 45px;
  padding: 30px; }
